nav {
    place-content: flex start;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    // border: solid white;
    box-shadow: 20px 20px 60px #063048, -20px -20px 60px #084062;
    padding: 15px;
    height: 80px;
    img {
        width: 60px;
        height: auto;
    }
}

p {
    padding-top: 19px;
    margin-left: 12px;
    font-size: 18px;
    span {
        padding-top: 7px;
        font-size: 24px;
    }
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.container {
    height: calc(100vh - 80px);
    .left-col {
        margin-top: 1em;
        // border: solid white;
        height: calc(100vh - 80px);
        text-align: center;
        padding: 1em 25px 0 25px;
        img {
            width: 100%;
        }
    }
    .right-col {
        // border: solid white;
        height: calc(100vh - 80px);
        text-align: center;
        padding: 1em 25px 0 25px;
        margin-top: 1em;
    }
    .content {
        background-color: rgb(76, 62, 62);
        .mat-stepper-horizontal {
            margin-top: 8px;
        }
        .mat-form-field {
            margin-top: 16px;
        }
    }
}

.mat-stepper-vertical {
    background-color: #073855;
}

::ng-deep .mat-vertical-stepper-header {
    pointer-events: none !important;
}