<p>brand-size works!</p>

<form #brandForm="ngForm">
    <ng-template matStepLabel>Brand and Size</ng-template>
    <div class="size-amount-brand" fxLayout="row" fxLayoutAlign="space-around centers" fxLayout.lt-lg="column">
        <mat-form-field appearance="outline">
            <mat-label>choose size</mat-label>
            <mat-select [(ngModel)]="chooseSize.payload.size" aria-required="true" name="size" disableRipple>
                <mat-option value="one">2kg R40</mat-option>
                <mat-option value="two">5kg R100</mat-option>
                <mat-error *ngIf="brandForm.controls['size']?.errors?.['required']">required</mat-error>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>choose Brand</mat-label>
            <mat-select [(ngModel)]="chooseSize.payload.brand" required name="brand">
                <mat-option *ngFor="let x of brand " value="`{{x}}`">{{x}}</mat-option>
            </mat-select>
            <mat-error [hidden]="brandForm.invalid || brandForm.pristine">choose brand Expected</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="chooseSize.payload.amount" required name="amount">
            <mat-error [hidden]="brandForm.invalid || brandForm.pristine">Quantity Expected</mat-error>
        </mat-form-field>

    </div>

    <div>
        <button mat-button (click)="brandForm.reset()">Clear</button>
        <button mat-button matStepperNext (click)="Submit(brandForm)" [disabled]="brandForm.invalid">Next</button>
    </div>
</form>